/*#region header*/
ul {
  gap: 1.47444rem;
}

header a {
  color: #070439;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;

}

@media screen and (max-width:768px){
 header .container{
    gap: 3.44rem;
  }
}

/*#endregion header*/
/*#region hero*/
.hero-content {
  gap: 1.47rem;
}

.hero-img img {
  width: 100%;
}

.hero-content form input {
  padding: 0.6875rem 2.08113rem 0.6875rem 2.0625rem;
  border: 1px solid #000;
  background: #FFF;
  width: 46%;
}

.hero-content form input::placeholder,
.early form input::placeholder {
  color: #757575;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-content form .btn {
  padding: 0.625rem 4.60994rem 0.625rem 4.62063rem;
  background: #3065F8;
  color: white;
  border-radius: 0;
  transition: 0.4s;
}

.hero-content form .btn:hover {
  background-color: white;
  color: #3065F8;
  border: 1px solid #3065F8;
}

form {
  gap: 1.88rem;
}

@media screen and (max-width:768px) {

  .hero-content form input,
  .hero-content form .btn {
    width: 100%;
  }
}

/*#endregion hero*/
/*#region stay*/
.stay {
  position: relative;
  background: #F8F8FE;
}

.stay::after {
  content: "";
  background-image: url(../img/Vector.png);
  position: absolute;
}

.stay a {
  color: #3C9F8F;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  ;
}

.stay a:hover {
  text-decoration: none;
}

@media screen and (max-width:768px) {

  .hero .row,
  .stay .row {
    flex-direction: column-reverse;
    gap: 2.2rem;
  }

  .page-heading {
    font-size: 3.2rem !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  .page-paragraph {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
  }

  .stay a {
    justify-content: center;
  }
}

/*#endregion stay*/

/*#region early*/
.early {
  background-color: #585989;
  height: 60vh;
}

.early h3 {
  color: #FFF;
  font-family: 'Raleway';
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.early p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.early form input {
  padding: 0.6875rem 2.0625rem;
  border: 1px solid #000;
  background: #FFF;
}

.early form .btn {
  padding: 0.625rem 1.23019rem 0.625rem 1.25rem;
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #3065F8;
  width: 50%;
  border-radius: 0;
}

.early form .btn:hover {
  background-color: white;
  color: #3065F8;
  border: 1px solid #3065F8;
}

.card {
  gap: 1.72rem;
  padding: 2rem;
  max-width: 28rem;
  border-radius: 0.875rem;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.50);
}

.heading {
  color: #070439;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.name {
  color: #070439;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card span {
  color: #070439;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width:768px) {
  .early {
    height: 100vh;
  }

  .early h3 {
    text-align: center;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
  }

  .early p {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }

  .early .row {
    gap: 2.2rem;
  }

  .early form {
    gap: 0.6rem;
  }

  .early .btn {
    width: 100% !important;
  }

  .card {
    justify-content: center;
    width: 100% !important;
  }

  .heading {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
  }
}

/*#endregion stay*/
/*#region footer*/
footer {
  background-color: #070439;
}

footer .container {
  padding: 5rem 0;
}

.contact {
  gap: 4.75rem;
}

footer a {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.4s;
}

footer a:hover {
  color: #3C9F8F;
}

.social-link ul {
  gap: 0.63rem;
}

@media screen and (max-width:768px) {

  .list-items,
  .social-link {
    justify-content: start !important;
  }

  footer .row {
    gap: 2.2rem !important;
  }

}

/*#endregion footer*/